<form (ngSubmit)="onSubmit($event)" [formGroup]="form">

    <div >
      <div class="border-b border-gray-900/10 pb-3">
        <h2 class="text-base/7 font-semibold text-gray-900">Digita tu información</h2>
        <p class="mt-1 text-sm/6 text-gray-600">Esta información sera usada para registrar tu pedido</p>
        <div class="mt-4 grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-6" formGroupName="details">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Nombre</label>
            <div class="mt-2">
              <input formControlName="name" pInputText  type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm/6 font-medium text-gray-900">Apellido</label>
            <div class="mt-2">
              <input formControlName="lastName" pInputText  type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
          
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Numero de Whatsapp</label>
            <div class="mt-2">
              <input formControlName="whatsappPhone" type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm/6 font-medium text-gray-900">Numero de contacto</label>
            <div class="mt-2">
              <input formControlName="phone" type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
  
          <div class="col-span-full">
            <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Dirección</label>
            <div class="mt-2">
              <input formControlName="address" type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </form>