<div class="flex justify-center  lg:w-5xl lg:mx-auto">
  <img src="/assets/logobase.png" width="200" alt="Logo">
</div>
<div class="p-3 w-full lg:w-5xl lg:mx-auto">
  <h2 class="text-base/7 font-semibold text-gray-900">¡Bienvenido al Creador de Pizzas de Forno Rosso!</h2>
  <p class="text-sm text-gray-700  mt-3">
    Aquí puedes armar tu pizza perfecta eligiendo el tamaño, los ingredientes y las adiciones que más te gusten. 
    ¡Déjate llevar por tu antojo y crea una combinación única y agregala a tu pedido haciendo click en el siguiente boton! 😋
  </p>
  <p-button [outlined]="true" (click)="showDialog()" label="Agregar Pizza" icon="pi pi-plus" styleClass="my-3"/>
  <div class="md:grid md:grid-cols-2 md:gap-6">
    <div>
      <div>

        <pizza-summary (editPizza)="editPizza($event)"></pizza-summary> 
      </div>
    </div>
    <div>
      <pizza-form></pizza-form>
      <p-button (click)="showDialog()" label="Crear Orden" icon="pi pi-file-check" />
    </div>
  </div>
</div>

<p-dialog header="Agregar Pizza" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

    <div>
      <!-- <pizza-viewer
        [pizzas]="pizzas"
        [activePizza]="0">
      </pizza-viewer> -->
      <div class="mb-3">
        <div class="text-sm font-light border-gray-400 border p-2 bg-gray-100 rounded-xl">
          Los precios de los ingredientes y adiciones cambian según el tamaño de tu pizza. 
          🍕✨ La base siempre incluye pasta de tomate y queso, pero puedes personalizarla agregando hasta 6 ingredientes más. 
          🤩 Además, puedes hacerla estofada con borde de queso. ¡La imaginación es el límite! 🔥🧀

        </div>
      </div>
      <div>
        <strong>
          <h3>Selecciona el tamaño <span class="required">*</span></h3>
        </strong>
        <div class="mt-4">
          <pizza-size>
          </pizza-size>
        </div>
      </div>
      <div class="mt-4">
        <strong>
          <h3>Selecciona los ingredientes (Maximo 6)</h3>
        </strong>
        <div class="mt-4">
          <pizza-toppings>
          </pizza-toppings>
        </div>
      </div>
      <div class="mt-4">
        <strong>
          <h3>Adiciones</h3>
        </strong>
        <div class="mt-4">
          <pizza-creator>
          </pizza-creator>
        </div>
      </div>
    </div>
    <ng-template #footer>
        <p-button label="Cancel" [text]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Save" [outlined]="true" (onClick)="savePizza()"  severity="primary" (click)="visible = false" />
    </ng-template>
</p-dialog>