<div class="my-3">
    
  <h2 class="text-xl font-semibold text-gray-900">Resumen de tu orden</h2>
  <p class="text-sm text-gray-700 mt-3">
    Aún no has agregado ninguna pizza a tu pedido. Haz clic en el boton <strong>Agregar Pizza</strong> para comenzar a personalizar la tuya.
  </p>

  <div class="my-3">
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>
                <div class="flex justify-between w-full items-center text-gray-700">
                    <span class="w-50">
                        Pizza Grande, 6 Ingredientes, 2 Adicionales 
                    </span>
                    <span class="mr-2">
                        $45000
                    </span>

                </div>
            </p-accordion-header>
            <p-accordion-content>
                <div class="my-2">
                    <h2>
                        Base: 
                    </h2>
                    <div class="flex justify-between text-sm text-gray-700">
                        <span class="w-50">Grande con Queso y Pasta de Tomate</span>
                        <span>$20000</span>
                    </div>
                </div>
                <div class="my-2">
                    <h2>
                        Ingredientes: 
                    </h2>
                    <div class="flex justify-between text-sm text-gray-700">
                        <span>Jamon</span>
                        <span>$3000</span>
                    </div>
                </div>
                <div class="my-2">
                    <h2>
                        Adicionales: 
                    </h2>
                    <div class="flex justify-between text-sm text-gray-700">
                        <span>Borde de queso</span>
                        <span>$3000</span>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
  </div>
</div>