<div class="my-3">
    
  <h2 class="text-xl font-semibold text-gray-900">Resumen de tu orden</h2>
  @if (!pizzas.length) {

    <p class="text-sm text-gray-700 mt-3">
        Aún no has agregado ninguna pizza a tu pedido. Haz clic en el boton <strong>Agregar Pizza</strong> para comenzar a personalizar la tuya.
      </p>
    
  }
  <div class="my-3">
    <p-accordion >
    @for(pizza of pizzas; track $index; let i = $index){
        <p-accordion-panel [value]="i">
            <p-accordion-header>
                <div class="flex justify-between w-full items-center text-gray-700">
                    <span class="w-50">
                        Pizza {{pizza.size?.label}}
                        @if(pizza.toppings?.length){
                            con {{pizza.toppings?.length}} Ingredient{{pizza.toppings?.length > 1 ? 'es' : 'e'}} 
                        } 
                        @if(pizza.additions?.length){
                           y {{pizza.additions?.length}} Adicional{{pizza.additions?.length > 1 ? 'es' : ''}} 
                        } 
                    </span>
                    <span class="mr-2">
                        $45000
                    </span>

                </div>
            </p-accordion-header>
            <p-accordion-content>
                <div class="my-2">
                    <h2>
                        Base: 
                    </h2>
                    <div class="flex justify-between text-sm text-gray-700">
                        <span class="w-50">{{pizza.size?.label}} con Queso y Pasta de Tomate</span>
                        <span>$20000</span>
                    </div>
                </div>
                @if(pizza.toppings?.length > 0) {
                    <div class="my-2">
                        <h2>
                            Ingredientes: 
                        </h2>
                            
                            @for(topping of pizza.toppings; track $index; let i = $index){
                                <div class="flex justify-between text-sm text-gray-700">
                                    <span>{{topping.label}}</span>
                                    <span>$3000</span>
                                </div>
                            }
                    </div>
                }
                @if(pizza.additions?.length > 0) {
                    <div class="my-2">
                        <h2>
                            Adicionales: 
                        </h2>
                        <div class="flex justify-between text-sm text-gray-700">
                            @for(addition of pizza.additions; track $index; let i = $index){
                                <span>{{addition}}</span>
                                <span>$3000</span>
                            }
                        </div>
                    </div>
                }
            </p-accordion-content>
        </p-accordion-panel>
    }
    </p-accordion>
  </div>
</div>