<div class="my-3 bg-gray-100 p-3 border border-gray-400 rounded-sm">
    
  <h2 class="text-xl font-semibold text-gray-900">Resumen de tu orden</h2>
  @if (!pizzas.length) {

    <p class="text-sm text-gray-700 mt-3">
        Aún no has agregado ninguna pizza a tu pedido. Haz clic en el boton <strong>Agregar Pizza</strong> para comenzar a personalizar la tuya.
      </p>
    
  }
  <div class="my-3 text-sm">
    <p-accordion >
    @for(pizza of pizzas; track $index; let i = $index){
                <div class="flex justify-between w-full items-center text-gray-700 text-base font-semibold">
                    <div class="flex justify-center">
                        <div class="content-center">
                            <img
                            src="assets/pizzas/{{pizza.size.type}}.png" 
                            width="30"
                            alt="">
                        </div>
                        <div class="mx-3 content-center">

                            <span >
                                Pizza {{pizza.size?.label}}
                                @if(pizza.toppings?.length){
                                    con {{pizza.toppings?.length}} Ingredient{{pizza.toppings?.length > 1 ? 'es' : 'e'}} 
                                } 
                                @if(pizza.additions?.length){
                                    y {{pizza.additions?.length}} Adicional{{pizza.additions?.length > 1 ? 'es' : ''}} 
                                } 
                            </span>
                        </div>
                    </div>
                    <span>
                        {{ getTotalPizza(pizza)  | currency:'USD':'symbol':'1.0-0'}}
                    </span>

                </div>
                <div class="flex flex-row-reverse">
                    <p-button (onClick)="openEditPizza(pizza, i)" icon="pi pi-pencil" severity="secondary" rounded="true" styleClass="ml-2" aria-label="" />
                    <p-button (onClick)="deletePizza(i)" icon="pi pi-trash" severity="secondary" rounded="true" styleClass="ml-2" aria-label="" />
                </div>
                <div class="my-2 text-sm text-gray-700 ml-2">
                    <h2>
                        Base: 
                    </h2>
                    <div class="flex justify-between text-gray-500 ml-4">
                        <span class="w-50">{{pizza.size?.label}} con Queso y Pasta de Tomate</span>
                        <span>{{pizza.size?.price | currency:'USD':'symbol':'1.0-0'}}</span>
                    </div>
                </div>
                @if(pizza.toppings?.length > 0) {
                    <div class="my-2 text-sm text-gray-700 ml-2">
                        <h2>
                            Ingredientes: 
                        </h2>
                            
                            @for(topping of pizza.toppings; track $index; let i = $index){
                                <div class="flex justify-between text-sm text-gray-500 ml-4">
                                    <span>{{topping.label}}</span>
                                    {{topping.price | currency:'USD':'symbol':'1.0-0'}}
                                </div>
                            }
                    </div>
                }
                @if(pizza.additions?.length > 0) {
                    <div class="my-2 text-sm text-gray-700 ml-2">
                        <h2>
                            Adicionales: 
                        </h2>
                        @for(addition of pizza.additions; track $index; let i = $index){
                            <div class="flex justify-between text-sm text-gray-500 ml-4">
                                <span>{{addition?.value}}</span>
                                <span>{{addition?.price | currency:'USD':'symbol':'1.0-0'}}</span>
                            </div>
                        }
                    </div>
                }
    }
    </p-accordion>
  </div>
  <p-divider />
  <div class="flex justify-between">
    <div>
        <h2 class="text-xl font-semibold text-gray-900">Total </h2>

    </div>
    <div class="font-bold text-gray-900">
        {{ getTotal()  | currency:'USD':'symbol':'1.0-0' }}
    </div>
  </div>
</div>