.active {
  filter: none; /* Quita el efecto de escala de grises */
  border: 1px solid #b9b9b9;
  box-shadow: 2px 3px 2px 0px rgba(163,163,163,0.56);
  -webkit-box-shadow: 2px 3px 2px 0px rgba(163,163,163,0.56);
  -moz-box-shadow: 2px 3px 2px 0px rgba(163,163,163,0.56);
}

